# === GLOBAL ===
.DS_Store
.idea/
.vscode/
*.log
*.pyc
__pycache__/
.env
*.sqlite3

# === BACKEND (Django) ===
backend/venv/
backend/db.sqlite3

# === FRONTEND (Flutter) ===
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/pubspec.lock
frontend/ios/Flutter/Flutter.framework
frontend/ios/Flutter/Flutter.podspec
frontend/ios/.symlinks
frontend/ios/Pods/
frontend/ios/Runner.xcworkspace/
frontend/ios/DerivedData/
frontend/ios/.dart_tool/
frontend/.idea/
frontend/coverage/
frontend/android/.gradle/
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/
frontend/web/.dart_tool/
frontend/linux/
frontend/macos/
frontend/windows/

# === Token Storage (Flutter Secure Storage, etc) ===
*.jks
*.keystore
*.p12
*.pem
*.key

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
